.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $White;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {

        transform: scale(2);

        .svg-elem-1 {
            animation: animate-svg1 3s ease-in-out 0s both infinite;
        }

        .svg-elem-2 {
            animation: animate-svg2 3s ease-in-out 0.3s both infinite;
        }
    }
}

.loader.hidden {
    animation: fadeout 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
    }
}

@keyframes animate-svg1 {
    0% {
        fill: transparent;
        transform: translateY(-4rem);
    }

    100% {
        fill: #000940;
        transform: translateY(0rem);
    }
}

@keyframes animate-svg2 {
    0% {
        fill: transparent;
        transform: translateY(4rem);
    }

    100% {
        fill: $PrimaryColor;
        transform: translateY(0rem);
    }
}