// ------ COLORS ----------

$PrimaryColor : #FF6901;
$SecondaryColor: #000940;
$TertiaryColor : #F8F4EC;

$White: #ffffff;

// ------ ALPHA COLORS ----------

$SecondaryColor-a30: #00094030;

// ------ BOX SHADOWS ----------
$BoxShadow : -10px 10px 18px 0px $SecondaryColor-a30;