.features {
    position: relative;
    @include sectionSpaces;

    :nth-child(odd) {
        flex-direction: row;
    }
    :nth-child(even) {
        flex-direction: row-reverse;
    }

    .feature-item {
        position: relative;

        @include tablet {
            display: flex;
        }

        @include laptopS {
            &:hover {
                .feature-picture {
                img {
                    transform: translate(-50%,-50%) scale(1.05);
                    @include basictransition;
                }
            }
            }
        }

        .feature-picture {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            height: 240px;

            @include tablet {
                width: 50%;
                height: 320px;
            }

            @include laptopS {
                height: 480px;
            }

            @include laptopL {
                height: 600px;
            }


            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: auto;
                width: 100%;
                @include basictransition($delay: .3s);
                @include tablet {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .feature-content {
            width: 100%;
            height: auto;
            background-color: $TertiaryColor;
            display: flex;
            justify-content: center;
            align-items: center;

            @include tablet {
                width: 50%;
                height: 320px;
            }
            @include laptopS {
                height: 480px;
            }
            @include laptopL {
                height: 600px;
            }

            .feature-content-container {
                width: 100%;
                @include bodyPadding;
                padding-top: 2rem;
                padding-bottom: 2rem;

                @include tablet {
                    width: 80%;
                    padding: 0;
                }

                @include laptopS {
                    width: 60%;
                }

                h2 {
                    @include h2-Title(none);
                }

                p {
                    @include Paragraph;
                }
            }
        }

    }

}