@mixin slideimg($src) {
    background: url("../../src/images/Slider/#{$src}") no-repeat center;
    background-size: cover;
}

$padding : 2rem;
$tablet_padding : 4rem;
$laptop_padding: 6rem;
$laptopL_padding: 15rem;

//////////  SLIDER IMAGES 
// The source files need to put into the images/Slider folder;

$slide1 : "slide1.jpg";
$slide2 : "slide2.jpg";
$slide3 : "slide3.jpg";


.swiper-buttons {
    position: absolute;
    display: none;
    top: $padding;
    @include bodyPadding;


    @include tablet {
        display: flex;
        top: $tablet_padding + 8rem;
    }

    @include laptopS {
        top: $laptop_padding + 26rem;
        margin-left: 15rem;
    }

    @include laptopL {
        top: $laptop_padding + 26rem;
        margin-left: 0rem;
    }


    .swiper-button-next-unique,
    .swiper-button-previous-unique {
        display: block;
        position: relative;
        width: 56px;
        height: 56px;
        border: 2px solid $PrimaryColor;
        background-color: $White;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;

        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 24px;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url("../../src/icons/Arrow_Right.svg") no-repeat center;
            background-size: contain;
        }

    }

    .swiper-button-next-unique {
        margin-left: 1rem;
    }

    .swiper-button-previous-unique {
        transform: rotate(-180deg);
    }
}

.swiper-container {
    position: relative;

    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            position: relative;
            display: flex;
            flex-direction: column;
            @include mainGrid;
            @include bodyPadding;

            padding-top: $padding;
            padding-bottom: $padding;

            @include tablet {
                padding-top: $tablet_padding;
                padding-bottom: $tablet_padding;
            }

            @include laptopS {
                padding-top: $laptop_padding;
                padding-bottom: $laptop_padding;
            }

            .slide-picture {
                position: relative;
                width: 280px;
                height: 280px;
                box-shadow: $BoxShadow;
                margin-bottom: 8rem;
                justify-self: center;
                grid-column: span 2;

                @include tablet {
                    grid-column: 4 / 7;
                    grid-row: 1;
                    justify-self: end;
                }

                @include laptopS {
                    width: 480px;
                    height: 480px;
                    grid-column: 4 / 10;
                    justify-self: end;
                }

                @include laptopL {
                    width: 520px;
                    height: 480px;
                    grid-column: 8 / 13;
                    justify-self: end;
                }
            }

            #slide-1 {
                @include slideimg($slide1);
            }

            #slide-2 {
                @include slideimg($slide2);
            }

            #slide-3 {
                @include slideimg($slide3);
            }

            .slide-content {
                position: relative;
                width: 100%;
                @include mainGridChild;

                @include tablet {
                    grid-column: 1 / 4;
                    grid-row: 1;
                    justify-self: start;
                    margin-top: 140px;
                }

                @include laptopS {
                    grid-column: 2 / 5;
                    margin-top: 240px;
                }

                @include laptopL {
                    grid-column: 1 / 7;
                    margin-top: 240px;
                }

                h2 {
                    @include h2-Title;
                }

                p {
                    @include Paragraph;
                }
            }
        }

    }

    .swiper-pagination {
        position: absolute;
        top: 37rem;
        height: 7rem;
        bottom: unset;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .swiper-pagination-bullet {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: $SecondaryColor;

        @include tablet {
            display: none;
        }

    }

    .swiper-pagination-bullet-active {
        background: $PrimaryColor;
        width: 16px;
        height: 16px;
    }


}