.hero-header {
    position: relative;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;
    overflow: hidden;
    @include bodyPadding;
    @include mainGrid;

    @include laptopS {
        height: 560px;
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        background-color: $SecondaryColor;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .3;
        z-index: 1;
    }

    .hero-header-content {
        position: relative;
        z-index: 1;
        grid-column: 1 / 3 ;
        align-self: center;

        @include tablet {
            grid-column: 2 / 6 ;
        }

        @include laptopS {
            grid-column: 3 / 9 ;
        }
        @include laptopS {
            grid-column: 3 / 10 ;
        }

        p {
            font-size: 2rem;
            color:$White;
            text-transform: uppercase;
            letter-spacing: -.3px;
            z-index: 1;

            @include laptopS {
                font-size: 2rem;
            }
        }
        h1 {
            font-size: 4rem;
            color:$White;
            line-height: 5rem;
            z-index: 1;

            @include laptopS {
                font-size: 7rem;
                line-height: 9rem;
            }
         }
        }
    }
    .hero-header-background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    // top:50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    background: url("../../src/images/Header-Hero.jpg") no-repeat center;
    background-size:  cover;
    }
