.cross-channel-grid{
    @include bodyPadding;
    @include mainGrid;
    @include sectionSpaces;
.cross-channel {
    position: relative;
    background-color: $White;
    grid-column: span 2;

    @include tablet{
        grid-column: 2 / 6;
    }
    @include laptopS{
        grid-column: 3 / 9;
    }
    @include laptopL{
        grid-column: 2 / 12;
    }
    h2 {
        @include h2-Title;
    }
    > p {
        @include Paragraph;

    }

    .dropdown-wrappers {

        padding-top: 5rem;
    
        @include tablet {
            padding-top: 8rem;
        }
    
        @include laptopS {
            padding-top: 10rem;
        }

        @include laptopS {
            display: flex;
            justify-content: space-between;
        }


        .dropdown-wrappers-left, .dropdown-wrappers-right  {

            @include laptopS {
                width: 320px;
            }

            @include laptopL {
                width: 50%;
            }
        }
    }
}
}