form {
    position: relative;
    display: flex;
    flex-direction: column;

    .input-container {
        position: relative;
        margin-bottom: 4rem;
        width: 100%;

        @include laptopS {
            margin-bottom: 6rem;
        }

        input:not([type="submit"]), textarea {
            background-color: $White;
            border: 1px solid $SecondaryColor;
            width: calc((100% - 2rem) - 2px);
            @include basictransition;
            @include Paragraph;
            margin: 0;

            &::placeholder {
                color: transparent;
            }

            @include tablet {
                width: 100%;
            }

            &,
            &+label {
                @include Paragraph;
                position: relative;
                line-height: 1;
                padding: 2rem 1rem;
                height: 2rem;
                margin: 0;

                @include laptopS {
                    height: 4rem;
                }
            }

            &+label {
                position: absolute;
                top: .5rem;
                left: 0;
                user-select: none;
                @include basictransition;
                color: $SecondaryColor;
                opacity: .5;
            }

            &:focus, &:active {
                border: 1px solid $PrimaryColor;
            }

            &:focus,
            &:not(:placeholder-shown) {
                &+label {
                    transform: translate(-1rem, -4.5rem);

                    @include laptopS {
                        transform: translate(-1rem, -7rem);
                    }
                }
            }

        }
        textarea {
            @include Paragraph;
            resize: none;

            &:focus, &:active {
                height: 300px;
            }
        }


    }

    input[type=submit] {
        align-self: center;
        margin: 3rem 0;

        @include tablet {
            align-self: start;
        }
    }

    .below-form-content {
        position: relative;

        p {
            @include Paragraph;
            line-height: 3rem;

            @include laptopS {
                line-height: 4rem;  
            }
        }

        a {
            @include Link;
            line-height: 3rem;

            @include laptopS {
                line-height: 4rem;  
            }
        }
    }
}

