.cursor {
    display: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid $PrimaryColor;
    position: absolute;
    pointer-events: none;
    transition: all .2s ease;
    z-index: 99;
  
    &::after {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1rem solid $SecondaryColor;
      opacity: .1;
      top: calc((-24px / 2) + 3px);
      left: calc((-24px/ 2) + 3px);
      z-index: 1;
    }
  
    @include laptopS {
      display: block;
    }
  }
  
  .link-grow {
    border: 1px solid $PrimaryColor;
    border-style: dashed;
    transition: all .1s ease;
    animation: rotating 2s linear infinite alternate;
  }
  
  .clickexpand {
    animation: expand .3s forwards;
  }
  
  @keyframes rotating {
    from {
      transform: scale(2.2) rotate(0deg) translate(-50%, -50%);
      transform-origin: 0 0;
    }
  
    to {
      transform: scale(3) rotate(360deg) translate(-50%, -50%);
      transform-origin: 0 0;
    }
  }
  
  @keyframes expand {
    0% {
      transform: scale(1)
    }
  
    50% {
      transform: scale(4)
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }